extends layout
block content

    - let date = new Date(); let year = date.getFullYear()

    h2(style="color: #DEC92A") Editar registo de um filme
    br
    div(style="margin-left: 100px; margin-right: 100px")
        p
            b Identificador: 
            = movie._id
        p
            b Título:
            input(id="title" class="input-field2" type="text" placeholder=movie.title value=movie.title)
        p
            b Ano:
            input(id="year" class="input-field2" type="number" min=1900 max=`${year}` placeholder=movie.year value=movie.year)
        p
            b Ator(es): 
            if(movie.cast.length == 0)
                | ---
            else
                ul
                    each actor, i in movie.cast
                        li
                            input(id=`actor${i}` class="input-field2" type="text" placeholder=actor value=actor)
        p
            b Género(s): 
            if(movie.genres.length == 0)
                | ---
            else
                ul
                    each genre, i in movie.genres
                        li
                            input(id=`genre${i}` class="input-field2" type="text" placeholder=genre  value=genre)
        section
            input(type="submit" value="Editar" class="btn" style="background-color: #DEC92A; color: #000000" onclick=`edit("${movie._id}", "${movie.cast}", "${movie.genres}")`)
    br
    a(href=`/filmes#${movie._id}` style="display: block; text-align: center") Voltar à página inicial
    br